body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: pink;
    color: pink;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: blue;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#hero {
    background-color: pink;
    padding: 100px 0;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: green;
    color: pink;
    text-decoration: none;
    border-radius: 5px;
}

#features {
    padding: 50px 0;
    text-align: center;
    

}

.feature {
    display: inline-block;
    width: 30%;
    margin: 20px;
    padding: 20px;
 background-color:pink;
}

.feature .icon {
    font-size: 40px;
    margin-bottom: 10px;
}

footer {
    background-color: pink;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
