body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: skyblue;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin: 0;
}

section {
    padding: 20px;
    background-color: skyblue;
    
}

#about img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    background-color: skyblue;
}

#skills ul {
    list-style: none;
    padding: 0;
}

#skills li {
    display: inline-block;
    margin-right: 10px;
}

#projects .project {
    margin-bottom: 20px;
    background-color: skyblue;
}

#projects img {
    max-width: 100%;
    height: auto;
    background-color: skyblue;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
